<div class="banner">
 <h1>Get your life together</h1>
 <h2>While we keep the filth out of your house.</h2>
 <p>Family newsletters with fancy pictures and cleaning houses, you probably don't see the common ground.  But we at <%= link_to "Tribu", "https://www.mytribunews.com/en/" %>, we shine in both.  You'll see. Just try out one of our cleaning (wo)men. They'll scrub away your sorrows!</p>
</div>

<div class="container-own">

  <h2>Book our heroes of hygiene</h2>
  <div class="container">
    <div class="row">
      <% @cleaners.each do |cleaner| %>
      <div class="col-xs-6 col-md-4 on-hover">
        <%= link_to cleaner_path(cleaner) do %>
        <div class="card-cleaner-big">
          <%= cl_image_tag "cleaning_pictures/"+cleaner.photo_url, height: 300, width: 400, crop: :fill, gravity: :face %>
          <div class="card-cleaner-big-infos">
            <div class="card-cleaner-info-middle">
              <h2><%= cleaner.name %> </h2>
              <p><%= cleaner.description %></p>
            </div>
            <div class="card-cleaner-right">
              <span class="card-cleaner-average-rating"> <%=cleaner.average_rating%> </span>
              <h3 class="card-cleaner-big-pricing">
                <%= cleaner.price %>€
              </h3>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <h2>Less walking more working</h2>

    <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  </div>

</div>
