<div class="container">
  <!-- under is description and picture -->
  <div class="row">
    <div class="col-sm-8" style="background-color:yellow;">
      <p>
        <%= @cleaner.description %>
    </div>
    <div class="col-sm-4" style="background-color:red;">
      <%= image_tag "poetsvrouw.jpg", alt: "cleaning", width: 200%>
      <%= @cleaner.name %>,
      <%= @cleaner.age %> <br>
      <%= @cleaner.price %> €   <br>
      rating : <%= @cleaner.average_rating %> / 5

    </div>
  </div>

  <!-- book me action button -->

  <div class="row center-block" style="background-color:orange;">
    <p>
    <% if user_signed_in? %>
    <%= simple_form_for @booking do |f|  %>
    <%= f.hidden_field :cleaner_id, value: @cleaner.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.datetime_select :reserved_on, ampm: true,minute_step: 60 %>
    <%= f.button :submit,"Book Me ", class: "btn btn-danger" %>
    <% end %>
    <% else %>
    <p class='text-center'>
    <%= link_to 'sign in make a reservation', new_user_session_path %>
    </p>
    <% end %>
    </p>
  </div>

  <!-- review section -->

  <div class="row center-block" style="background-color:blue;">
    <p class="text-center">
     <%=  @cleaner.name %>'s reviews :
   </p>
 </div>
 <div class="row center-block" style="background-color:green;">
  <div class="col-xs-12">
    <% @reviews.each do |review| %>
    <p>
      <%= review  %>
    </p>
    <% end %>
  </div>
</div>
</div>

