<div class="container">
  <!-- under is description and picture -->
  <div class="row cleaner-image">
   <div class="col-sm-2 text-center">
    <%= cl_image_tag @cleaner.photo_url,width:150, height: 150, crop: :fill, gravity: :face, radius: 100 %>
  </div>
  <div class="col-sm-2 text-center cleaner-info">
    <%= @cleaner.name %>,
    <%= @cleaner.age %> <br>
    <%= @cleaner.price %> €   <br>
  </div>
  <div class="col-sm-6 text-center cleaner-description">
    " <%= @cleaner.description %>"
  </div>
  <% var = @cleaner.average_rating  %>
  <div class="col-sm-2 text-center cleaner-rating">
    <div class="stars-outer">
      <div class="stars-inner"></div>
    </div>
    <div class="col-sm-6 text-center cleaner-description">
      " <%= @cleaner.description %>"
    </div>
    <% var = @cleaner.average_rating  %>
    <div class="col-sm-3 text-center cleaner-rating">
      <div class="stars-outer">
        <div class="stars-inner"></div>
      </div>
      <br>
      <small>
        <span id='rating'><%=var%></span> / 5
      </small>
    </div>

  </div>

  <!-- book me action button -->
  <div class="row  cleaner-show-all" style='background-color:brown;'>
    <div class='text-center'>
      <% if user_signed_in? %>
      <%= simple_form_for @booking do |f|  %>
      <%= f.hidden_field :cleaner_id, value: @cleaner.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.text_field :reserved_on, value:"01/01/2018" , class: "form-control input-group-text" %>
      <div class="buttons-div">
        <div id="before-noon" class="div-button">8 - 12 am</div>
        <div id="after-noon" class="div-button">13 - 17 pm</div>
      </div>
      <%= f.hidden_field :before_noon, value: false %>
      <%= f.hidden_field :after_noon, value: false %>
      <%= f.hidden_field :availabilities, value: @cleaner.availabilities.to_json %>
      <%= f.button :submit,'BOOK ME', class: "btn btn-danger", id:"cleaner-book-submit" %>
      <% end %>
    </div>
    <% else %>

    <div class='text-center'>
      <div class="btn btn-primary">
        <%= link_to 'sign in make a reservation', new_user_session_path %>
      </div>
    </div>
    <% end %>
  </div>

  <!-- review section -->

  <div class="row cleaner-show-all" style='background-color:beige;'>
    <div class="text-center">
     <%= @cleaner.name %>'s reviews :
   </div>
 </div>
 <div class="row  cleaner-show-all " style='background-color:orange;'>
  <div class="d-flex flex-column">
    <% @reviews.each do |review| %>
    <div class="d-flex justify-content-center cleaner-reviews" style='background-color:purple;'>
      "<%= review  %>"
    </div>
    <% end %>
  </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />


<script>
  const pic = () => {
    const elem = document.querySelector('.cleaner-image');
    elem.style.backgroundImage = "url('https://cdn-images-1.medium.com/max/2000/0*Rp48l4z21Xh7NhKA')";
  };
  pic();
</script>

<script>
  $(function() {
    console.log($('input[name="reservation[reserved_on]"]'));
    $('input[name="reservation[reserved_on]"]').daterangepicker({
      startDate:Date.now(),
      endDate: '01/01/2020',
      singleDatePicker: true,
      showDropdowns: true,
      timePicker: false,
      timePicker24Hour: true,
      applyButtonClasses: 'btn btn-primary center',
      cancelButtonClasses: 'btn btn-danger center',
      minDate:Date.now(),
      setStartDate:Date.now(),
      minYear: 1901,
      locale: {
        format: 'DD/MM/YYYY',
      }
    }, function(start, end, label) {
    });
  });
</script>


