<div class="container">
  <!-- under is description and picture -->
  <div class="row center-block cleaner-show">

   <div class="col-sm-2 text-center">
    <%= cl_image_tag "cleaning_pictures/"+@cleaner.photo_url,width:150, height: 150, crop: :fill, gravity: :face %>
  </div>
  <div class="col-sm-2 text-center">
    <%= @cleaner.name %>,
    <%= @cleaner.age %> <br>
    <%= @cleaner.price %> €   <br>
  </div>
  <div class="col-sm-2 text-center">
    rating : <%= @cleaner.average_rating %> / 5
  </div>
  <div class="col-sm-6 text-center" id="description">
    <%= @cleaner.description %>
  </div>
</div>


<!-- book me action button -->

<div class="row center-block cleaner-show-all">
  <div class='text-center'>
    <% if user_signed_in? %>
    <%= simple_form_for @booking do |f|  %>
    <%= f.hidden_field :cleaner_id, value: @cleaner.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.datetime_select :reserved_on, ampm: true,minute_step: 60 %>
    <%= f.button :submit,"Book Me ", class: "btn btn-danger" %>
    <% end %>
  </div>
  <% else %>

  <div class='text-center'>
    <div class="btn btn-primary">
      <%= link_to 'sign in make a reservation', new_user_session_path %>
    </div>
  </div>
  <% end %>
</div>

<!-- review section -->

<div class="row center-block cleaner-show-all" >
  <div class="text-center">
   <%= @cleaner.name %>'s reviews :
 </div>
</div>
<div class="row center-block  cleaner-show-all" >
  <div class="d-flex flex-column">
    <% @reviews.each do |review| %>
    <div class="d-flex justify-content-center">
      "<%= review  %>"
    </div>
    <% end %>
  </div>
</div>
</div>

</div>



